<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>whatsapp mini</title>
  </head>
  <body>
    <h3>All Chats!</h3>

    <form action="/chats/new" method="GET">
        <button>New Chat</button>
        <br>
    </form>
<br>
    <%for(let chat of chats){%>
    <div class="chat">
      <p>From : <%= chats.from%></p>

      <div class="msg">
        <p><%= chats.msg%></p>
      </div>

      <p>recieved by : <%= chats.to%></p>
    </div>
    <%}%>
  </body>
</html>
