<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
</head>
<body>
    <form action="/chats" method="POST">
        <input type="text" placeholder="who are u" name="from"><br>
        <input type="text" name="to" id="" placeholder="add reciever"><br>
        <textarea name="msg" id="" cols="30" rows="10">write here</textarea><br>
        <button>create chat</button><br>
    </form>
</body>
</html>